.speech {
    font: sans-serif;
    font-size: 16px;
    color:black;
    margin: 10px;
}
.stage-direction{
    font-family: Garamond, serif;
    font-size: 25px;
    background-color:rgba(70, 0, 128, 0.212);
}
.stage-direction:hover {
    background-color: black;
    color:red;
}
.mrsmarchmont{
    color: rgb(255, 240, 105);

}
.ladybastldon{
    color:rgb(0, 130, 69);
}
.mason{
    color: rgb(230, 173, 230);
}
.lordcaversham{
    color:rgb(221, 23, 23);
}
.mabelchiltern{
    color:maroon;
}
th, td {
    border: 2px solid;
    color: #003399;
    text-align: center;
    padding: 0.8rem;
    margin: 25px 50px 75px 100px ;
}
table{
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background-color: #8F9AA5;}
    .ladymarkby:hover{
        text-shadow: 2px 2px 5px yellow;
        box-shadow: 10px 10px 5px green;
        border-bottom: 4px solid red;
        background-color: white;
        text-align: center;
        color:gold;
    }
.ladychiltern:hover{
        text-shadow: 2px 2px 5px yellow;
        box-shadow: 10px 10px 5px grey;
        border-bottom: 4px solid red;
        background-color: white;
        text-align: center;
        color:midnightblue;
    }

    